<% for (var item in this) { %>
    <% var elName = $.i18n.prop(this[item].value) %>
    <button id="<%= this[item].id%>" type="<%= this[item].type%>" name="<%= this[item].name%>"><%= elName%></button>
<% } %>
