<div id="popupError" class="modal hide">
    <div class="modal-header"><h3><%=$.i18n.prop("app_error_occured")%></h3></div>
    <div class="modal-body"><p><%=this.statusText%></p></div>
    <div class="modal-footer">
        <div class="btn btn-danger" id="btnClose"><%=$.i18n.prop("app_btnClose")%></div>
    </div>
</div>