<% for (var item in this) { %>
    <% if (this[item].enable =='0'){
        confirm = 'disabled="disabled"';
    } else {
        confirm = '';
    } %> 
    <% var elName = $.i18n.prop(this[item].value) %>
    <button name=<%=this[item].name%> class="btn" <%=confirm%> id=<%=this[item].id%>><%= elName%></button> 
<% } %>