<h3>Custom view</h3>
<ul>
    <% for each (var item in this) { %>
        <%=item.explText><input class="<%item[i].className%>" id="<%= item[i].id%>" type = "text" name = "<%= item.name[i]%>" >
	<%=<p> label[i]</p>%>
    <% } %>
</ul>
<script src="/javascripts/scripts/1P/regValidator.js"></script>