<div id="timerBlock">
    <%=$.i18n.prop("app_word_time")%><span>0</span>
</div>
<div id="timerOneGameBlock">
    <%=$.i18n.prop("app_game_time")%><span>0</span>
</div>
<div id="scoreBlock">
    <%=$.i18n.prop("app_score")%><span>0</span>
</div>
<div id="selectAnswer">
    <div id="answerContainer" class = "effect2"><div id="massageContainer"><%=$.i18n.prop("app_put_word")%></div></div>
    <div id="variantsContainer"></div>
</div> 