<div id="timerBlock">
    Answer time:<span>0</span>
</div>
<div id="timerOneGameBlock">
    Game time:<span>0</span>
</div>
<div id="scoreBlock">
    Score:<span>0</span>
</div>
<div id="selectAnswer">
    <div id="answerConteiner" class = "effect2"><div id="massageConteiner">Put word here</div></div>
    <div id="variantsConteiner"></div>
</div>    