<h4><%=$.i18n.prop(this.trainingResults)%></h4>
<div>
    <dl>
    <% for (attr in this.trainingAttributes) { %>
        <% if (!this.training[attr]) {this.training[attr] = 0}%>
        <% if (attr === "ratio") {this.training[attr] = this.training[attr].toFixed(2)} %>
        <dt><%= $.i18n.prop(this.trainingAttributes[attr])%></dt><dd><%=this.training[attr]%></dd>
    <% } %>
    </dl>
</div>
