<div id="userSection">
    <span><%=this.login%></span>
    <span><%=this.email%></span>
    <% var elName = $.i18n.prop("app_logout") %>
    <button id="logoutButton" class="btn"><%= elName %></button>
</div>
